footer {
    background: #091E42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    color: #fafbfc;
}

.footer_socials {
    display: flex;
    /* justify-content: space-between; */
    justify-content: right;
}

.footer_socials li {
    padding-right: 10px;
}

.footer_socials li a {
    color: #FAFBFC;
}

.footer_socials li a:hover {
    color: #FF8B00;
}

footer p {
    font-size: 14px;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    footer {
        background: #091E42;
        padding: 2rem;
        display: block;
    }

    .footer_logo {
        margin-bottom: 4rem;
        text-align: center;
    }

    .footer_socials {
        margin-bottom: 2rem;
        justify-content: center;
    }

    .footer_socials p {
        text-align: center;
    }

    .footer p {
        text-align: center;
    }
}