.homepage {
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
}

.homepage .homepage_details {
    display: flex;
    padding-top: 9rem; 
    padding-left: 7rem;
}

.homepage .homepage_image img {
    width: 900px;
    height: 709.83px;
}

.homepage_details h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 1rem;
    color: #091E42;
}

.homepage_details p{
    color: #344563;
    line-height: 24px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1110px) {
    .homepage {
      display: block;
      position: relative;
      top: 0;
      z-index: -1;
    }
  
    .homepage .homepage_image img {
      width: 100%;
      height: auto;
    }

}

@media only screen and (max-width: 1210px) {

    .homepage .homepage_image img {
        width: 100%;
        height: auto;
    }

    .homepage {
        display: block;
        position: relative;
        top: 0;
        z-index: -1;
    }

    .app {
        position: relative;
        height: auto;
    }
}