nav {
    display: flex; 
    justify-content: space-between;
    padding: 1.2rem 7rem;
}

ul {
    list-style: none;
}
 
.nav_list li a {
    text-decoration: none;
    color: #091E42; 
}

ul li a:hover {
    text-decoration: underline;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in;
}

nav .first_nav_section {
    display: flex;
}

nav .first_nav_section div{
    padding: 0 1rem;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list li {
    padding: 0 0.5rem;
}

.logo_img {
    height: 24px;
    width: 154px;
}

.nav_list .sign_in {
    padding-left: 0.2rem;
}

.nav_list .sign_in a {
    background: #0052CC;
    padding: 10px 12px;
    mix-blend-mode: normal;
    border-radius: 4px;
    color: #fff;
}

.nav_list .sign_in a:hover {
    background: #091E42;
    transition: all 0.3s ease-in;
    text-decoration: none;
}