@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif; 
}

.app {
  position: relative;
  height: 100vh;
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .app {
    height: 100%;
  }
  
  .homepage {
    display: block;
    position: relative;
    top: 0;
    z-index: -1;
  }

  .homepage .homepage_image img {
    width: 100%;
    height: 709.83px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}